.Orders{
    width: 40%;
    text-align: right;
    border: 1px solid #075343;
    padding: 20px;
    position: relative;
}
.Total{
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}